# Нууц мэдээлэл болон тохиргооны файл
.env

# Python-ы виртуал орчин
.venv/
venv/
ENV/

# Өгөгдлийн сангийн файлууд (SQLite)
*.db
*.sqlite3

# Python-ы системээс автомат үүсдэг файлууд
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Програм хөгжүүлэлтийн багажны тохиргоонууд
.vscode/
.idea/
.DS_Store